html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 9px 8px;
  grid-template-areas: "pink1\,-pink2\,\ pink3\,\ pink4 pink1\,-pink2\,\ pink3\,\ pink4 pink1\,-pink2\,\ pink3\,\ pink4 pink1\,-pink2\,\ pink3\,\ pink4" "drkpink1 drkpink2 drkpink3 drkpink4" "turquoise1\,-turquoise2 turquoise1\,-turquoise2 turquoise3\,-turquoise4 turquoise3\,-turquoise4" "green1\,-green2\,\ green3 green1\,-green2\,\ green3 green1\,-green2\,\ green3 orange1";
}

.pink1\,-pink2\,\ pink3\,\ pink4 { grid-area: pink1\,-pink2\,\ pink3\,\ pink4; background-color: #F5C6D6; }

.drkpink1 { grid-area: drkpink1; background-color: #EE2E84; }

.drkpink2 { grid-area: drkpink2; background-color: #EE2E84; }

.drkpink3 { grid-area: drkpink3; background-color: #EE2E84 }

.drkpink4 { grid-area: drkpink4; background-color: #EE2E84 }

.turquoise1\,-turquoise2 { grid-area: turquoise1\,-turquoise2; background-color: #85CFD8}

.turquoise3\,-turquoise4 { grid-area: turquoise3\,-turquoise4; background-color: #85CFD8 }

.green1\,-green2\,\ green3 { grid-area: green1\,-green2\,\ green3; background-color: #8DC63F }

.orange1 { grid-area: orange1; background-color: #E76E34 }
html, body, .grid-container { height: 100%; margin: 0; }







































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































