
            table, td, th {
                border: 3px solid white;
            }

            #table1 {
                border-collapse: separate;
                border-spacing: 5px;
            }

            #table1 {
                border-collapse: separate;
                border-spacing: 5px;
            }

            #table1 {
                border-collapse: separate;
                border-spacing: 5px;
            }

            #table1 {
                border-collapse: separate;
                border-spacing: 5px;
            }

            #table1 {
                border-collapse: separate;
                border-spacing: 5px;
            }

            #table1 {
                border-collapse: separate;
                border-spacing: 5px;
            }

            #table1 {
                border-collapse: separate;
                border-spacing: 5px;
            }

            #table1 {
                border-collapse: separate;
                border-spacing: 5px;
            }

            #table1 {
                border-collapse: separate;
                border-spacing: 5px;
            }
        