#box1:hover {
    background-color: lightseagreen;
}
#box2:hover {
    background-color: indigo;
}
#box3:hover {
    background-color: chartreuse;
}
#box4:hover {
    background-color: orangered;
}
#box5:hover {
    background-color: yellow;
}
#box6:hover {
    background-color: blue;
}
